.top-block {
    background-color: #cfb53b;
    color: black;
    height: 20rem;
    display: flex;
    transition-property: inherit;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bottom-block {
    background-color: rgb(243, 233, 250);
    line-height: 1.4rem;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#responses {
    
} 